h1.title {
  font-size: 3.2rem;
}

h1 {
  font-size: 2.5rem;
}

h1:not(.title) {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px dotted #111;
}

h4 {
  font-size: large;
}

body > footer {
  text-align: center;
  color: #aaa;
  margin-bottom: 1.4rem;
}

body > footer > p {
  margin: 0;
  font-size: 1rem;
}

.giscus {
  margin-left: 0 !important;
  width: 81%;
}

.tocwrapper > p {
  display: grid;
  grid-template-columns: 44.4444% 22.2222%;
}

.toclink {
  margin-right: 1rem;
}

.tocdate {
  margin-left: 1rem;
  text-align: right;
}

.no-tufte-underline:link {
  background: unset;
  text-shadow: unset;
}

@media (max-width: 760px) {
  .utterances {
    margin-left: 0 !important;
    width: 100%;
  }

  div.cell.border-box-sizing.rendered p,
  img {
    width: 100%;
  }

  footer img {
    width: unset;
  }

  .tocwrapper > p {
    display: grid;
    grid-template-columns: 66.6666% 33.3333%;
  }
}

.comments-button {
  background-color: #111;
  border: 1px solid #000;
  color: #fffff8;
  padding: 0 0 0 0;
  margin-top: 5px;
  text-align: center;
  height: 50px;
  width: 200px;
  font-size: 1.4rem;
  box-sizing: border-box;
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD",
    "Book Antiqua", Georgia, serif;
}

.comments-button:hover {
  background-color: #fffff8;
  color: black;
  cursor: pointer;
}

.eqnos { display: inline-block; position: relative; width: 100%; }

.eqnos br { display: none; }

.eqnos-number { position: absolute; right: 0em; top: 50%; line-height: 0; }

section > ul > li > div.code-toolbar,
section > ul > li > pre:not(.code-toolbar),
section > ol > li > div.code-toolbar,
section > ol > li > pre:not(.code-toolbar) {
  width: 163.6363%;
}

div.sourceCode,
pre:not(.sourceCode) {
  padding: 1.4rem;
  margin: -0.7rem -1.4rem;
  width: 80%;
  font-size: 0.9rem;
  overflow-x: auto;
}

div.sourceCode code,
pre:not(.sourceCode) code {
  font-size: 0.9rem;
}

.fullwidth div.sourceCode,
.fullwidth pre:not(.sourceCode) {
  width: 100%;
}

section > ul > li > div.sourceCode,
section > ul > li > pre:not(.sourceCode),
section > ol > li > div.sourceCode,
section > ol > li > pre:not(.sourceCode) {
  width: 125%;
}

@media (max-width: 760px) {
  div.sourceCode,
  pre:not(.sourceCode) {
    width: 100%;
  }
}

div.code-toolbar > .toolbar {
  width: 100%;
  opacity: 1;
  right: 0em;
  display: flex;
  top: -1.25em;
  justify-content: space-between;
}

div.code-toolbar > .toolbar > .toolbar-item > a, div.code-toolbar > .toolbar > .toolbar-item > button, div.code-toolbar > .toolbar > .toolbar-item > span {
    background: var(--code-bkg-color);
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    border-radius: .5em;
    border-radius: 8px 8px 0px 0px;
    font-size: 18px;
    padding: 2px 12px 0px;
}

.code-toolbar {
    margin-top: 3em;
}

.token.operator {
    background: none;
}

body {
  --text-color: #111;
  --bkg-color: #fffff8;
  --code-bkg-color: #f5f2f0
  --text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
}

body.dark-mode {
  --text-shadow: 0.03em 0 #151515, -0.03em 0 #151515, 0 0.03em #151515, 0 -0.03em #151515, 0.06em 0 #151515, -0.06em 0 #151515, 0.09em 0 #151515, -0.09em 0 #151515, 0.12em 0 #151515, -0.12em 0 #151515, 0.15em 0 #151515, -0.15em 0 #151515;
  --text-color: #ddd;
  --bkg-color: #151515;
  --code-bkg-color: #2d2d2d;
}

@media (prefers-color-scheme: dark) {
  body {
  --text-shadow: 0.03em 0 #151515, -0.03em 0 #151515, 0 0.03em #151515, 0 -0.03em #151515, 0.06em 0 #151515, -0.06em 0 #151515, 0.09em 0 #151515, -0.09em 0 #151515, 0.12em 0 #151515, -0.12em 0 #151515, 0.15em 0 #151515, -0.15em 0 #151515;
    --text-color: #ddd;
    --bkg-color: #151515;
    --code-bkg-color: #2d2d2d;
  }

  body.light-mode {
    --text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
    --text-color: #111;
    --bkg-color: #fffff8;
    --code-bkg-color: #f5f2f0
  }
}

.subtitle {
    display: flex !important;
    width: 66.6666%;
    justify-content: flex-start;
    gap: 10px;
}

.sidenote, .marginnote {
    z-index: 9;
}
