section > ul > li > div.sourceCode,
section > ul > li > pre:not(.sourceCode),
section > ol > li > div.sourceCode,
section > ol > li > pre:not(.sourceCode) {
  width: 163.6363%;
}

pre > code {
  width: 80%;
}

div.sourceCode,
pre:not(.sourceCode) {
  padding: 1.4rem;
  margin: -0.7rem -1.4rem;
  width: 100%;
  font-size: 0.9rem;
  overflow-x: auto;
}

div.sourceCode code,
pre:not(.sourceCode) code {
  font-size: 0.9rem;
}

.fullwidth div.sourceCode,
.fullwidth pre:not(.sourceCode) {
  width: 100%;
}

section > ul > li > div.sourceCode,
section > ul > li > pre:not(.sourceCode),
section > ol > li > div.sourceCode,
section > ol > li > pre:not(.sourceCode) {
  width: 163.6363%;
}

@media (max-width: 760px) {
  div.sourceCode,
  pre:not(.sourceCode) {
    width: 100%;
  }
}
