h1.title {
    font-size: 3.2rem;
}

h1 {
    font-size: 2.5rem;
}

h4 {
    font-size: large;
}

header > p.sourceurl {
    width: 55%;
    text-align: right
}

body > footer {
    text-align: center;
    color: #aaa;
    margin-bottom: 1.4rem;
}

body > footer > p {
    margin: 0;
    font-size: 1rem;
}

.utterances {
    margin-left: 0 !important;
    width: 55%;
}

@media (max-width: 760px) {
    .utterances {
        margin-left: 0 !important;
        width: 100%;
    }

    div.cell.border-box-sizing.rendered p,img {
        width: 100%;
    }

    header > p.sourceurl {
        width: 100%;
    }
}
